In [1]:
paragraph="This is the NLP session that is going on and filnnally we are happy. Is everyone happy. iNeuron is a company where we teaches the coding"

In [2]:
import nltk

In [3]:
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to /root/nltk_data...

True

In [4]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [5]:
# tokenization
sentences=nltk.sent_tokenize(paragraph)
sentences

['This is the NLP session that is going on and filnnally we are happy.',
 'Is everyone happy.',
 'iNeuron is a company where we teaches the coding']

In [6]:
nltk.word_tokenize(paragraph)

['This',
 'is',
 'the',
 'NLP',
 'session',
 'that',
 'is',
 'going',
 'on',
 'and',
 'filnnally',
 'we',
 'are',
 'happy',
 '.',
 'Is',
 'everyone',
 'happy',
 '.',
 'iNeuron',
 'is',
 'a',
 'company',
 'where',
 'we',
 'teaches',
 'the',
 'coding']

In [7]:
from nltk.stem import PorterStemmer

In [8]:
stemmer=PorterStemmer()

In [9]:
stemmer.stem("history")

'histori'

In [10]:
from nltk.stem import WordNetLemmatizer

In [11]:
lemmatizer=WordNetLemmatizer()

In [12]:
lemmatizer.lemmatize("happy")

'happy'

In [13]:
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [14]:
nltk.word_tokenize(paragraph)[0]

'This'

In [15]:
corpus=[]
for i in range(len(sentences)):
  words=nltk.word_tokenize(sentences[i])
  words=[stemmer.stem(word) for word in words]
  corpus.append(' '.join(words))

In [16]:
corpus

['thi is the nlp session that is go on and filnnal we are happi .',
 'is everyon happi .',
 'ineuron is a compani where we teach the code']

In [17]:
corpus=[]
for i in range(len(sentences)):
  words=nltk.word_tokenize(sentences[i])
  words=[lemmatizer.lemmatize(word) for word in words]
  corpus.append(' '.join(words))

In [18]:
corpus

['This is the NLP session that is going on and filnnally we are happy .',
 'Is everyone happy .',
 'iNeuron is a company where we teach the coding']

In [19]:
para="Ratan Naval Tata (born 28 December 1937) is an Indian industrialist, philanthropist and former chairman of Tata Sons. He was a chairman of the Tata Group from 1990 to 2012, and interim chairman from October 2016 through February 2017. He continues to head its charitable trusts.[2][3] In 2008, he received the Padma Vibhushan, the second highest civilian honour in India, after receiving the Padma Bhushan, the third highest civilian honour in 2000.[4]He is the son of Naval Tata, who was adopted by Ratanji Tata, son of Jamsetji Tata, the founder of the Tata Group. He graduated from the Cornell University College of Architecture with a bachelor's degree in architecture.[5] He joined Tata in 1961, where he worked on the shop floor of Tata Steel. He later succeeded J. R. D. Tata as chairman of Tata Sons upon the latter's retirement in 1991. Under his tenure the Tata Group acquired Tetley, Jaguar Land Rover, and Corus, in an attempt to turn Tata from a largely India-centric group into a global business. Tata is also one of the largest philanthropists in the world, having donated around 60–65% of his income to charity."

In [20]:
para

"Ratan Naval Tata (born 28 December 1937) is an Indian industrialist, philanthropist and former chairman of Tata Sons. He was a chairman of the Tata Group from 1990 to 2012, and interim chairman from October 2016 through February 2017. He continues to head its charitable trusts.[2][3] In 2008, he received the Padma Vibhushan, the second highest civilian honour in India, after receiving the Padma Bhushan, the third highest civilian honour in 2000.[4]He is the son of Naval Tata, who was adopted by Ratanji Tata, son of Jamsetji Tata, the founder of the Tata Group. He graduated from the Cornell University College of Architecture with a bachelor's degree in architecture.[5] He joined Tata in 1961, where he worked on the shop floor of Tata Steel. He later succeeded J. R. D. Tata as chairman of Tata Sons upon the latter's retirement in 1991. Under his tenure the Tata Group acquired Tetley, Jaguar Land Rover, and Corus, in an attempt to turn Tata from a largely India-centric group into a global business. Tata is also one of the largest philanthropists in the world, having donated around 60–65% of his income to charity."

In [21]:
sent=nltk.sent_tokenize(para)

In [22]:
sent

['Ratan Naval Tata (born 28 December 1937) is an Indian industrialist, philanthropist and former chairman of Tata Sons.',
 'He was a chairman of the Tata Group from 1990 to 2012, and interim chairman from October 2016 through February 2017.',
 'He continues to head its charitable trusts.',
 '[2][3] In 2008, he received the Padma Vibhushan, the second highest civilian honour in India, after receiving the Padma Bhushan, the third highest civilian honour in 2000.',
 '[4]He is the son of Naval Tata, who was adopted by Ratanji Tata, son of Jamsetji Tata, the founder of the Tata Group.',
 "He graduated from the Cornell University College of Architecture with a bachelor's degree in architecture.",
 '[5] He joined Tata in 1961, where he worked on the shop floor of Tata Steel.',
 "He later succeeded J. R. D. Tata as chairman of Tata Sons upon the latter's retirement in 1991.",
 'Under his tenure the Tata Group acquired Tetley, Jaguar Land Rover, and Corus, in an attempt to turn Tata from a largely India-centric group into a global business.',
 'Tata is also one of the largest philanthropists in the world, having donated around 60–65% of his income to charity.']

In [23]:
corpus=[]
for i in range(len(sent)):
  words=nltk.word_tokenize(sent[i])
  words=[lemmatizer.lemmatize(word) for word in words]
  corpus.append(' '.join(words))

In [24]:
corpus

['Ratan Naval Tata ( born 28 December 1937 ) is an Indian industrialist , philanthropist and former chairman of Tata Sons .',
 'He wa a chairman of the Tata Group from 1990 to 2012 , and interim chairman from October 2016 through February 2017 .',
 'He continues to head it charitable trust .',
 '[ 2 ] [ 3 ] In 2008 , he received the Padma Vibhushan , the second highest civilian honour in India , after receiving the Padma Bhushan , the third highest civilian honour in 2000 .',
 '[ 4 ] He is the son of Naval Tata , who wa adopted by Ratanji Tata , son of Jamsetji Tata , the founder of the Tata Group .',
 "He graduated from the Cornell University College of Architecture with a bachelor 's degree in architecture .",
 '[ 5 ] He joined Tata in 1961 , where he worked on the shop floor of Tata Steel .',
 "He later succeeded J. R. D. Tata a chairman of Tata Sons upon the latter 's retirement in 1991 .",
 'Under his tenure the Tata Group acquired Tetley , Jaguar Land Rover , and Corus , in an attempt to turn Tata from a largely India-centric group into a global business .',
 'Tata is also one of the largest philanthropist in the world , having donated around 60–65 % of his income to charity .']

In [25]:
lemmatizer.lemmatize("was")

'wa'

In [26]:
corpus1=[]
for i in range(len(sent)):
  words=nltk.word_tokenize(sent[i])
  words=[stemmer.stem(word) for word in words]
  corpus.append(' '.join(words))

In [27]:
corpus1

[]

**What are Stop words?**

__Stop Words:__ A stop word is a commonly used word (such as “the”, “a”, “an”, “in”) that a search engine has been programmed to ignore, both when indexing entries for searching and when retrieving them as the result of a search query.

We would not want these words to take up space in our database, or taking up valuable processing time. For this, we can remove them easily, by storing a list of words that you consider to stop words. NLTK(Natural Language Toolkit) in python has a list of stopwords stored in 16 different languages. You can find them in the nltk_data directory.

In [28]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [29]:
from nltk.corpus import stopwords

In [30]:
stop_words=stopwords.words('english')
stop_words

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [31]:
for i in ["changes","change","changing",'changer',"changeable"]:
  print(lemmatizer.lemmatize(i))

change
change
changing
changer
changeable

In [32]:
lemmatizer.lemmatize('better',pos="a")

'good'

In [33]:
corpus=[]
for i in range(len(sent)):
  words=nltk.word_tokenize(sent[i])
  words=[lemmatizer.lemmatize(word) for word in words if word not in stop_words]
  print(words)
  corpus.append(' '.join(words))

['Ratan', 'Naval', 'Tata', '(', 'born', '28', 'December', '1937', ')', 'Indian', 'industrialist', ',', 'philanthropist', 'former', 'chairman', 'Tata', 'Sons', '.']
['He', 'chairman', 'Tata', 'Group', '1990', '2012', ',', 'interim', 'chairman', 'October', '2016', 'February', '2017', '.']
['He', 'continues', 'head', 'charitable', 'trust', '.']
['[', '2', ']', '[', '3', ']', 'In', '2008', ',', 'received', 'Padma', 'Vibhushan', ',', 'second', 'highest', 'civilian', 'honour', 'India', ',', 'receiving', 'Padma', 'Bhushan', ',', 'third', 'highest', 'civilian', 'honour', '2000', '.']
['[', '4', ']', 'He', 'son', 'Naval', 'Tata', ',', 'adopted', 'Ratanji', 'Tata', ',', 'son', 'Jamsetji', 'Tata', ',', 'founder', 'Tata', 'Group', '.']
['He', 'graduated', 'Cornell', 'University', 'College', 'Architecture', 'bachelor', "'s", 'degree', 'architecture', '.']
['[', '5', ']', 'He', 'joined', 'Tata', '1961', ',', 'worked', 'shop', 'floor', 'Tata', 'Steel', '.']
['He', 'later', 'succeeded', 'J.', 'R.', 'D.', 'Tata', 'chairman', 'Tata', 'Sons', 'upon', 'latter', "'s", 'retirement', '1991', '.']
['Under', 'tenure', 'Tata', 'Group', 'acquired', 'Tetley', ',', 'Jaguar', 'Land', 'Rover', ',', 'Corus', ',', 'attempt', 'turn', 'Tata', 'largely', 'India-centric', 'group', 'global', 'business', '.']
['Tata', 'also', 'one', 'largest', 'philanthropist', 'world', ',', 'donated', 'around', '60–65', '%', 'income', 'charity', '.']

In [34]:
sentences

['This is the NLP session that is going on and filnnally we are happy.',
 'Is everyone happy.',
 'iNeuron is a company where we teaches the coding']

In [35]:
sent

['Ratan Naval Tata (born 28 December 1937) is an Indian industrialist, philanthropist and former chairman of Tata Sons.',
 'He was a chairman of the Tata Group from 1990 to 2012, and interim chairman from October 2016 through February 2017.',
 'He continues to head its charitable trusts.',
 '[2][3] In 2008, he received the Padma Vibhushan, the second highest civilian honour in India, after receiving the Padma Bhushan, the third highest civilian honour in 2000.',
 '[4]He is the son of Naval Tata, who was adopted by Ratanji Tata, son of Jamsetji Tata, the founder of the Tata Group.',
 "He graduated from the Cornell University College of Architecture with a bachelor's degree in architecture.",
 '[5] He joined Tata in 1961, where he worked on the shop floor of Tata Steel.',
 "He later succeeded J. R. D. Tata as chairman of Tata Sons upon the latter's retirement in 1991.",
 'Under his tenure the Tata Group acquired Tetley, Jaguar Land Rover, and Corus, in an attempt to turn Tata from a largely India-centric group into a global business.',
 'Tata is also one of the largest philanthropists in the world, having donated around 60–65% of his income to charity.']

In [36]:
sent

['Ratan Naval Tata (born 28 December 1937) is an Indian industrialist, philanthropist and former chairman of Tata Sons.',
 'He was a chairman of the Tata Group from 1990 to 2012, and interim chairman from October 2016 through February 2017.',
 'He continues to head its charitable trusts.',
 '[2][3] In 2008, he received the Padma Vibhushan, the second highest civilian honour in India, after receiving the Padma Bhushan, the third highest civilian honour in 2000.',
 '[4]He is the son of Naval Tata, who was adopted by Ratanji Tata, son of Jamsetji Tata, the founder of the Tata Group.',
 "He graduated from the Cornell University College of Architecture with a bachelor's degree in architecture.",
 '[5] He joined Tata in 1961, where he worked on the shop floor of Tata Steel.',
 "He later succeeded J. R. D. Tata as chairman of Tata Sons upon the latter's retirement in 1991.",
 'Under his tenure the Tata Group acquired Tetley, Jaguar Land Rover, and Corus, in an attempt to turn Tata from a largely India-centric group into a global business.',
 'Tata is also one of the largest philanthropists in the world, having donated around 60–65% of his income to charity.']

In [37]:
import re
corpus=[]
for i in range(len(sent)):
  text=re.sub('[^a-zA-Z1-9]',' ',sent[i])
  text=text.lower()
  words=text.split()
  words=[lemmatizer.lemmatize(word) for word in words if word not in stop_words]
  print(words)
  corpus.append(' '.join(words))

['ratan', 'naval', 'tata', 'born', '28', 'december', '1937', 'indian', 'industrialist', 'philanthropist', 'former', 'chairman', 'tata', 'son']
['chairman', 'tata', 'group', '199', '2', '12', 'interim', 'chairman', 'october', '2', '16', 'february', '2', '17']
['continues', 'head', 'charitable', 'trust']
['2', '3', '2', '8', 'received', 'padma', 'vibhushan', 'second', 'highest', 'civilian', 'honour', 'india', 'receiving', 'padma', 'bhushan', 'third', 'highest', 'civilian', 'honour', '2']
['4', 'son', 'naval', 'tata', 'adopted', 'ratanji', 'tata', 'son', 'jamsetji', 'tata', 'founder', 'tata', 'group']
['graduated', 'cornell', 'university', 'college', 'architecture', 'bachelor', 'degree', 'architecture']
['5', 'joined', 'tata', '1961', 'worked', 'shop', 'floor', 'tata', 'steel']
['later', 'succeeded', 'j', 'r', 'tata', 'chairman', 'tata', 'son', 'upon', 'latter', 'retirement', '1991']
['tenure', 'tata', 'group', 'acquired', 'tetley', 'jaguar', 'land', 'rover', 'corus', 'attempt', 'turn', 'tata', 'largely', 'india', 'centric', 'group', 'global', 'business']
['tata', 'also', 'one', 'largest', 'philanthropist', 'world', 'donated', 'around', '6', '65', 'income', 'charity']

In [38]:
corpus

['ratan naval tata born 28 december 1937 indian industrialist philanthropist former chairman tata son',
 'chairman tata group 199 2 12 interim chairman october 2 16 february 2 17',
 'continues head charitable trust',
 '2 3 2 8 received padma vibhushan second highest civilian honour india receiving padma bhushan third highest civilian honour 2',
 '4 son naval tata adopted ratanji tata son jamsetji tata founder tata group',
 'graduated cornell university college architecture bachelor degree architecture',
 '5 joined tata 1961 worked shop floor tata steel',
 'later succeeded j r tata chairman tata son upon latter retirement 1991',
 'tenure tata group acquired tetley jaguar land rover corus attempt turn tata largely india centric group global business',
 'tata also one largest philanthropist world donated around 6 65 income charity']

In [39]:
sent

['Ratan Naval Tata (born 28 December 1937) is an Indian industrialist, philanthropist and former chairman of Tata Sons.',
 'He was a chairman of the Tata Group from 1990 to 2012, and interim chairman from October 2016 through February 2017.',
 'He continues to head its charitable trusts.',
 '[2][3] In 2008, he received the Padma Vibhushan, the second highest civilian honour in India, after receiving the Padma Bhushan, the third highest civilian honour in 2000.',
 '[4]He is the son of Naval Tata, who was adopted by Ratanji Tata, son of Jamsetji Tata, the founder of the Tata Group.',
 "He graduated from the Cornell University College of Architecture with a bachelor's degree in architecture.",
 '[5] He joined Tata in 1961, where he worked on the shop floor of Tata Steel.',
 "He later succeeded J. R. D. Tata as chairman of Tata Sons upon the latter's retirement in 1991.",
 'Under his tenure the Tata Group acquired Tetley, Jaguar Land Rover, and Corus, in an attempt to turn Tata from a largely India-centric group into a global business.',
 'Tata is also one of the largest philanthropists in the world, having donated around 60–65% of his income to charity.']

In [40]:
from sklearn.feature_extraction.text import CountVectorizer

In [41]:
cv=CountVectorizer()

In [42]:
cv.fit_transform(corpus).toarray()

array([[0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0,
        0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
        1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0,
        0, 1, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
        0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
        0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
        0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 2, 0, 1, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 1, 1, 0, 0, 1,
        0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
        0, 2, 0, 0, 4, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 1, 0, 0, 0, 0, 0, 0,
        0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0],
       [0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        1, 0, 1, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0],
       [0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
        0, 1, 0, 1, 2, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0,
        0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 2, 0, 0, 0, 0, 1, 0,
        0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
        0, 0, 0, 0, 2, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
        1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1]])

In [43]:
cv.vocabulary_

{'ratan': 59,
 'naval': 54,
 'tata': 70,
 'born': 17,
 '28': 7,
 'december': 28,
 '1937': 3,
 'indian': 43,
 'industrialist': 44,
 'philanthropist': 58,
 'former': 33,
 'chairman': 20,
 'son': 67,
 'group': 37,
 '199': 5,
 '12': 0,
 'interim': 45,
 'october': 55,
 '16': 1,
 'february': 31,
 '17': 2,
 'continues': 25,
 'head': 38,
 'charitable': 21,
 'trust': 74,
 'received': 61,
 'padma': 57,
 'vibhushan': 78,
 'second': 65,
 'highest': 39,
 'civilian': 23,
 'honour': 40,
 'india': 42,
 'receiving': 62,
 'bhushan': 16,
 'third': 73,
 'adopted': 10,
 'ratanji': 60,
 'jamsetji': 47,
 'founder': 34,
 'graduated': 36,
 'cornell': 26,
 'university': 76,
 'college': 24,
 'architecture': 12,
 'bachelor': 15,
 'degree': 29,
 'joined': 48,
 '1961': 4,
 'worked': 79,
 'shop': 66,
 'floor': 32,
 'steel': 68,
 'later': 52,
 'succeeded': 69,
 'upon': 77,
 'latter': 53,
 'retirement': 63,
 '1991': 6,
 'tenure': 71,
 'acquired': 9,
 'tetley': 72,
 'jaguar': 46,
 'land': 49,
 'rover': 64,
 'corus': 27,
 'attempt': 14,
 'turn': 75,
 'largely': 50,
 'centric': 19,
 'global': 35,
 'business': 18,
 'also': 11,
 'one': 56,
 'largest': 51,
 'world': 80,
 'donated': 30,
 'around': 13,
 '65': 8,
 'income': 41,
 'charity': 22}

In [44]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [45]:
tf_idf=TfidfVectorizer()

In [48]:
tf_idf.fit_transform(corpus).toarray()

array([[0.        , 0.        , 0.        , 0.29485773, 0.        ,
        0.        , 0.        , 0.29485773, 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.29485773, 0.        , 0.        ,
        0.21929439, 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.29485773, 0.        ,
        0.        , 0.        , 0.        , 0.29485773, 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.29485773, 0.29485773,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.250656  ,
        0.        , 0.        , 0.        , 0.250656  , 0.29485773,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.21929439, 0.        , 0.        ,
        0.28746209, 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        ],
       [0.31617585, 0.31617585, 0.31617585, 0.        , 0.        ,
        0.31617585, 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.47029861, 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.31617585, 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.23514931, 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.31617585, 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.31617585, 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.15412276, 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.5       , 0.        , 0.        , 0.        ,
        0.5       , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.5       , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.5       ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.20978308, 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.41956616, 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.41956616,
        0.41956616, 0.        , 0.17833478, 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.41956616, 0.        , 0.        ,
        0.        , 0.20978308, 0.20978308, 0.        , 0.        ,
        0.20978308, 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.20978308, 0.        ,
        0.        , 0.        , 0.        , 0.20978308, 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.29761136, 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.29761136,
        0.        , 0.        , 0.22134235, 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.29761136, 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.25299685,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.29761136, 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.44268469, 0.        , 0.        ,
        0.58029332, 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.63245553, 0.        , 0.        ,
        0.31622777, 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.31622777,
        0.        , 0.31622777, 0.        , 0.        , 0.31622777,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.31622777, 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.31622777, 0.        , 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , 0.        , 0.37930893,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.37930893, 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.37930893, 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.37930893, 0.        , 0.37930893, 0.        ,
        0.36979509, 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.37930893,
        0.        ],
       [0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.3523064 , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.26202066, 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.3523064 , 0.3523064 , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.3523064 , 0.        ,
        0.        , 0.        , 0.26202066, 0.        , 0.3523064 ,
        0.34346984, 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.3523064 , 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.24335544,
        0.        , 0.        , 0.        , 0.        , 0.24335544,
        0.        , 0.        , 0.        , 0.24335544, 0.24335544,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.24335544, 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.24335544, 0.        , 0.36198123, 0.        , 0.        ,
        0.        , 0.        , 0.20687435, 0.        , 0.        ,
        0.        , 0.24335544, 0.        , 0.        , 0.24335544,
        0.24335544, 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.24335544,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.23725158, 0.24335544, 0.24335544, 0.        , 0.        ,
        0.24335544, 0.        , 0.        , 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.31685781, 0.        ,
        0.        , 0.31685781, 0.        , 0.31685781, 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.31685781, 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.31685781, 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.31685781, 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.31685781, 0.        , 0.        , 0.        ,
        0.        , 0.31685781, 0.        , 0.26935808, 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.15445518, 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.31685781]])

In [53]:
#new test data

data=["i want to the food"]
cv.transform(data).toarray()

array([[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]])

In [49]:
cv.vocabulary_

{'ratan': 59,
 'naval': 54,
 'tata': 70,
 'born': 17,
 '28': 7,
 'december': 28,
 '1937': 3,
 'indian': 43,
 'industrialist': 44,
 'philanthropist': 58,
 'former': 33,
 'chairman': 20,
 'son': 67,
 'group': 37,
 '199': 5,
 '12': 0,
 'interim': 45,
 'october': 55,
 '16': 1,
 'february': 31,
 '17': 2,
 'continues': 25,
 'head': 38,
 'charitable': 21,
 'trust': 74,
 'received': 61,
 'padma': 57,
 'vibhushan': 78,
 'second': 65,
 'highest': 39,
 'civilian': 23,
 'honour': 40,
 'india': 42,
 'receiving': 62,
 'bhushan': 16,
 'third': 73,
 'adopted': 10,
 'ratanji': 60,
 'jamsetji': 47,
 'founder': 34,
 'graduated': 36,
 'cornell': 26,
 'university': 76,
 'college': 24,
 'architecture': 12,
 'bachelor': 15,
 'degree': 29,
 'joined': 48,
 '1961': 4,
 'worked': 79,
 'shop': 66,
 'floor': 32,
 'steel': 68,
 'later': 52,
 'succeeded': 69,
 'upon': 77,
 'latter': 53,
 'retirement': 63,
 '1991': 6,
 'tenure': 71,
 'acquired': 9,
 'tetley': 72,
 'jaguar': 46,
 'land': 49,
 'rover': 64,
 'corus': 27,
 'attempt': 14,
 'turn': 75,
 'largely': 50,
 'centric': 19,
 'global': 35,
 'business': 18,
 'also': 11,
 'one': 56,
 'largest': 51,
 'world': 80,
 'donated': 30,
 'around': 13,
 '65': 8,
 'income': 41,
 'charity': 22}

In [56]:
import pickle
pickle.dump(tf_idf,open("tfidf.pkl","wb"))